@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #e5e7eb;
  min-height: 100vh;
  color: #0f172a;
}

#root {
  min-height: 100vh;
  width: 100%;
}
